<!DOCTYPE html>
<html>
<head>
    <title>ImfitTre</title>
    <style>
        .header img {
            float: left;
            width: 48px;
            height: 48px;
            background: #ffffff;
            margin-right: 10px;
        }
        .header h1 {
            font-size: 48px;
            font-family: 'Comic Sans MS', cursive, sans-serif;
            line-height: 48px;
        }
    </style>
</head>
<body>
    <header>
        <div class="header">
        <h1><img src="static/small_krab.png" alt="logo" /> ImfitTre</h1>
        </div>
    </header>
    <div class="images">
        <figure>
            <img id="camera-image-0" src="/frame?camera=Side&type=OD&image=|0,0>" alt="camera image" style="width: 300px; image-rendering: pixelated;">
            <figcaption>|0,0⟩</figcaption>
        </figure>
        <figure>
            <img id="camera-image-1" src="/frame?camera=Side&type=OD&image=|1,0>" alt="camera image" style="width: 300px; image-rendering: pixelated;">
            <figcaption>|1,0⟩</figcaption>
        </figure>
    </div>
</body>
</html>
